.tahoma{
    color: black;
    font-family: tahoma;
    font-weight: bold;
    text-align: center;
}
.html{
    color: black;
    font-family: verdana;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;

}
.begin{
    font-family: verdana;
    margin-top: 0px;
    color: gray;
    font-size: 14px;
}
.this{
    font-family: verdana;
    color: black;
    margin-right:200px ;
    margin-bottom: 12px;
}
.get-button{
    background-color: rgb(18, 163, 18);
    color: white;
    border: none;
    border-radius: 10px;
    padding-left:15px ;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom:8px;
    cursor: pointer;
    opacity: 0.7;

}
.get-button:hover{
    background-color: white;
    color: rgb(18, 163, 18);
    opacity: 0.8;
    box-shadow: 3px 4px 5px;

}
.big{
    color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;

}
.sales{
    margin-top: 0px;
    color: red;
    font-family: arial;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;

}
.shop{
    color: black;
    margin-top: 0px;
    font-family: arial;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.see{

    color: black;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    
}
.learn{
    text-align: center;
    color: blue;
    cursor: pointer;


}
.learn:hover{
    opacity: 0.7;
}