.hello-button
     {
          background-color: rgb(185, 12, 12);
          color: white;
          border: none;
          height: 34px;
          width: 45px;
          border-radius: 5px;
          cursor: pointer;
          margin-left:3px;
          transition: opacity 2s;
     }
     .hello-button:hover{
          opacity: 0.8;
     }
     .hello-button:active{
          opacity: 0.6;
     }
.join-button{
          background-color:white;
          color: blue;
          height: 34px;
          width: 80px;
          border-radius: 4px;
          border: none;
          border-style: solid;
          border-width: 1px;
          margin-left:4px;
          cursor:pointer;
          vertical-align:top;
          transition:background-color 1s, color 1s;

          
     }
     .join-button:hover{
          background-color:blue;
          color: white;

     }
     .join-button:active{
          opacity: 0.7;
     }
     .tweet-button{
          margin-left: 4px;
          background-color:rgb(77, 114, 236);
          color:white;
          border:none;
          border-radius: 17px;
          padding-top:8px;
          padding-bottom:8px;
          padding-left:15px;
          padding-right:15px;

          font-weight: bold;
          font-size: 12px;
          cursor:pointer;
          transition:box-shadow 0.15s;
          
     }
     .tweet-button:hover{
          box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);

     }
     .tweet-button:active{
          background: darkblue;
     }
     .request-button{
          background-color:black;
          color:white;
          border:none;
          height:34px;
          width: 103px;
          margin-left: 3px;
          font-size: 11px;
          border-radius: 3px;
          cursor:pointer;
     }
     .add-button{
          background-color: rgb(255, 216, 20);
          color:black;
          border: none;
          height: 30px;
          width : 122px;
          margin-left:3px;
          border-radius:15px;
          font-size:10px;
          font-weight:bold;
          cursor:pointer;
           transition:0.15s;

     }
     .add-button:hover{
          background-color:rgb(231, 198, 7);
          opacity:0.7;
     }
     .sign-button{
          background-color:rgb(46, 165, 79);
          border : none;
          color:white;
          height:30px;
          width:80px;
          margin-left:3px;
          border-radius:4px;
          cursor:pointer;

     }
     .sign-button:hover{
          box-shadow: 10px 10px 0px rgba(53, 53, 53, 0.15)

     }
     .boot-button{
          background-color:rgb(121, 82, 179);
          border:none;
          color:white;
          border-radius:3px;
          cursor:pointer;
          margin-top: 15px;
          height:34px;
          width: 90px;
          font-size:10px;
     }
     .boot-button:hover{
          background-color:rgb(89, 60, 133);
          opacity:0.8;
     }
     .boot1-button{
          background-color:white;
          color:rgb(121, 82, 179);
          border-style: solid;
          border-width:1px;
          height:34px;
          width:90px;
          border-radius:3px;
          font-weight:bold;
          font-size:12px;
          margin-left:3px;
          border-color:rgb(121, 82, 179);
          cursor:pointer;

     }
     .boot1-button:hover{
          background-color:rgb(121, 82, 179);
          color:white;
     }
     .boot1-button:active{
          background-color:rgb(45, 202, 202);
     }
     .linkin-button{
          background-color:rgb(90, 90, 250);
          color:white;
          border:none;
          border-radius:27px;
          padding-top:8px;
          padding-bottom:8px;
          padding-left:15px;
          padding-right:15px;


          transition:0.15s;
     }
     .linkin-button:hover{
          background-color:rgb(98, 98, 212);
          opacity:0.9;
     }